*.pyc
*.pyd
*.c
*.so
*.png
*.jpg
*.npy
*.mp4
*.html
*.txt
*.prof
*.gz
*.zip
*.json
*.7z
*.whl
*.spec
*.log
*.egg-info/
Saves/
testplots/
build/
docs/build/
Sniff_all/
Sniff_all_sym/
__pycache__/
.vscode/
dist/
GUI_scripts/dist/
GUI_scripts/build/
sparseqr/
/docs/source/generated/
/docs/source/_galleries/
.pyodide-xbuildenv/
*.examples
##########################################################
#           To be included (with preceding !)
##########################################################
!build_requirements.txt
!/choreo_GUI/*
!/choreo_GUI/img/**
!/choreo_GUI/choreo-gallery/**
!/LICENCES/**
!.devcontainer/Dockerfile
