*.pyc
*.pyd
*.c
*.so
*.png
*.jpg
*.npy
*.npz
*.mp4
*.html
*.txt
*.prof
*.gz
*.zip
*.json
*.7z
*.whl
*.spec
*.log
*.egg-info/
*.examples
*.xml
.vscode/
.pyodide-xbuildenv*/
.tox/
.hypothesis/
.pytest_cache
Saves/
testplots/
build/**
dist/**
Sniff_all/
Sniff_all_sym/
*__pycache__*
GUI_scripts/dist/
GUI_scripts/build/
docs/build/
docs/gh-pages/
/docs/source/_build/
/docs/pytest_out/
/tests/NewSym_data/**/*.pdf
/docs/source/sg_execution_times.rst
choreo/cython/optional_pyfftw.pxd
test.pdf
pytest_out/**
##########################################################
#           To be included (with preceding !)
##########################################################
!build_requirements.txt
!/choreo/GUI/*
!/choreo/GUI/img/**
!/LICENSES/**
!.devcontainer/Dockerfile
!/NumericalTank_data/*
!/docs/source/_static/**
!/docs/source/test-report/test_report_template.txt
!/requirements/requirements*.txt
!tests/NewSym_data/**/choreo_config.json
!environment/**