[submodule "choreo_gallery"]
	path = choreo_gallery
	url = git@github.com:gabrielfougeron/choreo_gallery.git
[submodule "choreo_GUI"]
	path = choreo_GUI
	url = git@github.com:gabrielfougeron/choreo_GUI.git
