[submodule "choreo-GUI"]
	path = choreo-GUI
	url = git@github.com:gabrielfougeron/choreo_GUI.git
[submodule "choreo-gallery"]
	path = choreo-gallery
	url = git@github.com:gabrielfougeron/choreo_gallery.git
