*.pyc
*.pyd
*.c
*.so
*.png
*.jpg
*.npy
*.mp4
*.html
*.txt
*.prof
*.gz
*.zip
*.json
*.7z
*.whl
*.spec
*.log
*.egg-info/
*.examples
*.xml
.vscode/
.pyodide-xbuildenv/
.tox/
.hypothesis/
.pytest_cache
Saves/
testplots/
build/
Sniff_all/
Sniff_all_sym/
*__pycache__*
dist/
GUI_scripts/dist/
GUI_scripts/build/
sparseqr/
docs/build/
docs/gh-pages/
/docs/source/_build/
/docs/pytest_out/
NewSym_data/
/docs/source/sg_execution_times.rst
##########################################################
#           To be included (with preceding !)
##########################################################
!build_requirements.txt
!/choreo_GUI/*
!/choreo_GUI/img/**
!/choreo_GUI/choreo-gallery/**
!/LICENCES/**
!.devcontainer/Dockerfile
!/NumericalTank_data/*
!/choreo_GUI/SOME3/**
!/docs/source/_static/**
!/docs/source/test-report/test_report_template.txt
