/* body {background-color:#ddd; color:#333333;} 
h4 {font-family: sans-serif; color:#333333; font-size:16px;}
h3 {font-family: sans-serif; color:#333333;}
p {font-family: sans-serif; color:#ccc; font-size:12px;}
form {font-family: sans-serif; color:#888888; font-size:12px;}
a {
    font-family: sans-serif;
    font-weight:bold;
    color:#4b7d96;
    text-decoration:none;
} */
#caption {position:absolute; width:480px; text-align:center; top:480px; z-index:1}
.radioLabel {
    /* font-family:Arial, Helvetica, sans-serif; */
    /* background-color:#ddd; */
    /* color:black; */
    /* font-size:11px; */
    width:445px;
    text-align:left;
    border:1px solid black
}
#controlHeader {
    font-family: sans-serif;
    color:#ccc;
    font-size: 11px;
    margin-top: 0px;
}
#AnimationBlock {
    width:943px;
    margin-left:130px;
}
#canvasContainer {
    float:left;
    height:480px;
    width:480px;
    margin:0px 10px 0px 0px;
}
#trailLayerCanvas {
    height:480px;
    width:480px;
}
#particleLayerCanvas {
    height:480px;
    width:480px;
}
#panelContainer {
    /* float:left; */
    width:443px;
    margin-left: 10px;
}
#speedTxt {
    /* background-color:"black" ; */
    color:black ;
    display:inline-block ;
    /* width:245px; */
    width:100px;
    text-align:center;
}
#speedSlider {
    margin-top:5px;
    margin-bottom:5px;
    margin-left:0px;
    margin-right:0px;
    /* width:245px; */
}
#RotSlider {
    /* margin-top:5px; */
    /* margin-bottom:5px; */
    margin-left:30px;
    margin-right:100px;
}
#PlayCommands {
    margin-left:100px;
}
#startStopButton {
    min-width:70px;
}
#trajectoryButton {
    min-width:115px;
}
#btnPrevOrbit {
    min-width:120px;
    display:inline-block;
}
#btnNextOrbit {
    min-width:120px;
    display:inline-block;
}
#navButtons {
    width:480px;
    text-align:center;
}
#orbitSelect {
    width:150px;
    margin-bottom:130px;
}
#radioContainer {
    width:480px;
    margin-top:5px;
    padding: 0px 0px 0px 9px;
    height:480px;
    position:relative;
    overflow:auto;
}
.radioInvisible {
    display:none;
}
.rs-control .rs-path-color {
    background-color: #F1F1F1;
}
.rs-control .rs-handle {
    background-color: #222222;
}
.rs-control .rs-bg-color {
    background-color: #F1F1F1;
}
.InTableControls {
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5;
}