/* body {background-color:#ddd; color:#333333;} 
h4 {font-family: sans-serif; color:#333333; font-size:16px;}
h3 {font-family: sans-serif; color:#333333;}
p {font-family: sans-serif; color:#ccc; font-size:12px;}
form {font-family: sans-serif; color:#888888; font-size:12px;}
a {
    font-family: sans-serif;
    font-weight:bold;
    color:#4b7d96;
    text-decoration:none;
} */
#caption {position:absolute; width:480px; text-align:center; top:480px; z-index:1}
.radioLabel {font-family:Arial, Helvetica, sans-serif; color:#ddd; font-size:11px; width:190px; text-align:left;}
#titleText {
    font-family: sans-serif;
    color: #db7;
    font-size: 17px;
    font-style:italic;
    height:36px;
    line-height:36px;
    padding:0px 0px 0px 10px;
}
#creditsText {
    font-family: sans-serif;
    color:#ccc;
    font-size: 12px;
    margin-top:25px;
    padding-left:10px;
}
#controlHeader {
    font-family: sans-serif;
    color:#ccc;
    font-size: 11px;
    margin-top: 0px;
}
#container {
    width:943px;
    margin:0px auto;
}
#canvasContainer {
    float:left;
    height:480px;
    width:480px;
    margin:0px 10px 0px 0px;
}
#displayCanvas {
    height:480px;
    width:480px;
}
#particleLayerCanvas {
    height:480px;
    width:480px;
}
#panelContainer {
    float:left;
    width:443px;
    margin-left: 10px;
}
   
#titleDoubleColumn {
    float:left;
    width:443px;
    height:40px;
}
.panelDoubleColumn {
    width:443px;
}
.panelColumn1 {
    float:left;
    width:158px;
    padding:10px 10px 10px 10px;
}
.panelColumn2 {
    float:right;
    width:220px;
}
#choreoInfoBox {
    float:left;
    width:443px;
    border: 1px solid #222;
    border-radius: 10px;
    background: #080808;
    margin-top:10px;
}
#choreoText {
    padding: 8px 18px 8px 18px;
    font-family: sans-serif;
    color:#ccc;
    font-size: 11px;
}
#infoBoxHeader {
    color:#db7;
    font-size: 13px;
    font-style:italic;
}
#infoBoxDescription {
    color:#ccc;
    font-style:normal;
}
#infoBoxComment {
    color:#ccc;
    font-style:normal;
}
.panelGroup {
    margin-top:5px;
}
#speedSlider {
    margin-top:5px;
    width:150px;
}
.buttonType1 {
    font-size:11px;
    margin-top:10px;
    width:150px;
}
.buttonType2 {
    font-size:11px;
    width:70px;
}
#radioHeader {
    font-family: sans-serif;
    color:#ccc;
    font-size: 11px;
    margin-top: 0px;
    width:211px;
    text-align:center;
}
#navButtons {
    width:195px;
    margin: 10px 0px 0px 30px;
}
#orbitSelect {
    width:150px;
    margin-bottom:10px;
}
#radioContainer {
    width:211px;
    margin-top:5px;
    padding: 0px 0px 0px 9px;
    height:230px;
    position:relative;
    overflow:auto;
}
