html {
    /* width: 100%;
    height: 100%; */
    /* margin: 0; */
    /* padding: 0; */
    /* background-color: #F1F1F1; */
    /* background-color: #F1F1F1; */
    
}
body {
    overflow-x: hidden;
    position: relative
  }
.content {
  /* max-width: 610px; */
  /* margin: auto; */
}
.LeftTabBtn{
    text-align: center
}
.TopTab{
    display: none;
    width:480px;
}
.MarginLeftBody{ 
    /* float:right */
    /* position: absolute; */
    /* margin-left:610px; */
    /* margin-left:130px; */
}