choreo[test,bench,cli]
Sphinx<8
pydata-sphinx-theme>=0.16.1
sphinx-gallery
sphinx-pyproject
sphinx-needs<4
sphinx-test-reports
sphinxcontrib.plantuml
seed-intersphinx-mapping
myst-parser
sphinxext-rediraffe
sphinx-sitemap
sphinxcontrib-bibtex
sphinx-copybutton
sphinxcontrib-autoprogram
sphinx_design
sphinxcontrib-video