choreo[test,bench,cli]
Sphinx<8
pydata-sphinx-theme
sphinx-gallery
sphinx-pyproject
sphinx-needs<4
sphinx-test-reports
sphinxcontrib.plantuml
seed-intersphinx-mapping
myst-parser
sphinxext-rediraffe
sphinxcontrib-bibtex
